@model IEnumerable<MovieRentalMVCApplication.Models.Movie>
@{
    ViewBag.Title = "IndexMovie";
}


<h2>Movies List</h2>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>MovieNames</th>
        <th>Genre</th>
        <th>Delete</th>
    </tr>
    @foreach (var m in Model)
    {
    <tr>
        <td>@Html.ActionLink(m.MovieName, "Edit", new { m.Id })</td>
        <td>@m.Genre.GenreName</td>
        <td><button class="btn btn-primary">
            @Html.ActionLink("Delete", "Delete", new { m.Id },
           new { @style = "color: white; text-decoration:none" })</button></td>

    </tr>
    }

</table>
<button class="btn btn-primary">@Html.ActionLink("Add New Movie", "MovieNewView",
                               null, new { @style = "color: white; text-decoration:none" })</button>